@media (min-width: 1px) and (max-width: 1082px) {
  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* body */
body {
  font-family: 'Verdana', sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}

/* header */
header h1 {
  font-size: 50px;
  font-weight: normal;
}

/* article */
.download {
  font-size: 16px;
  color: aquamarine;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

.text {
  font-size: 21px;
  color: gray;
}

/* footer */
footer {
  font-size: 20px;
  color: gray;
  text-align: right;
}
